permissions:
  contents: read

name: CI Build for MacOS 15 Arm64 (M1 and higher)

on: 
  workflow_dispatch: 
  pull_request:
  workflow_call:
    inputs:
      build-type:
        description: 'Build type (Debug/Release)'
        required: false
        type: string
        default: 'Release'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  build_package: libusb hamlib fftw boost ffmpeg@7

jobs:
  build_macos-latest:
    runs-on: macos-15
    permissions: write-all

    steps:
    - uses: actions/checkout@v5

    - name: Work around for /usr/local perms and grab arch/os info
      run: |
        sudo chown runner:admin /usr/local

    - name: Install dependencies (MacOS)
      run: |
        brew update
        brew install libusb hamlib fftw boost ffmpeg@7
        
    - name: Install Qt 6.9.3
      uses: jurplel/install-qt-action@v3
      with:
        cache: true
        aqtversion: '==3.1.*'
        version: '6.9.3'
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'
        modules: 'qtmultimedia qtserialport'
        archives: 'qtsvg qtdeclarative qtbase'

    - name: Build JS8Call
      run: |
        mkdir -p ./build && cd ./build
        cmake -DCMAKE_PREFIX_PATH="/usr/local/js8lib" ..
        make

    - name: Replace slashes in ref_name
      run: |
          formatted_ref_name="${{ replace(github.ref_name, '/', '-') }}"
          echo "FORMATED_REF_NAME=$formatted_ref_name" >> $GITHUB_ENV
          
    - name: Upload Artifact (app)
      uses: actions/upload-artifact@v5
      with:
        name: JS8call-improved_${{ github.event_name == 'workflow_dispatch' && github.event.inputs.version || github.formatted_ref_name }}_arm64_macos15.app
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/build/JS8Call-improved.app
