permissions:
  contents: read

name: CI Build for MacOS 15 Arm64 (M1 and higher)

on: [workflow_dispatch, pull_request]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  build_package: build-essential git cmake libusb-1.0-0-dev libxkbcommon-dev libudev-dev yasm libva-dev libpulse-dev
  opengl_package1: libegl1-mesa-dev libgles2-mesa-dev libgbm-dev libgl1-mesa-dev libxkbcommon-x11-dev 
  opengl_package2: libxcb-keysyms1-dev libxcb-image0-dev libxcb-icccm4-dev libxcb-render-util0-dev 
  opengl_package3: libxcb-xfixes0-dev libxcb-sync-dev libxcb-randr0-dev libxrender-dev
  ffmpeg_build: libass-dev libfreetype6-dev libgnutls28-dev libmp3lame-dev libsdl2-dev libva-dev libvdpau-dev libvorbis-dev libx264-dev

jobs:
  build_macos-latest:
    runs-on: macos-15
    permissions: write-all

    steps:
    - uses: actions/checkout@v5

    - name: Work around for /usr/local perms and grab arch/os info
      run: |
        sudo chown runner:admin /usr/local

    - name: Create our own var with the ImageOS value for cache use
      id: which-os
      run: |
        export ImageOS=$(sw_vers --productName)$(sw_vers --productVersion)
        echo "thisos=$ImageOS" >> $GITHUB_OUTPUT
        echo "thisos=$ImageOS"
      shell: bash

# Move all of our cache checks here, so we know if we need to free bunches of disk space
    - name: Cache Check libusb 1.0.29
      id: cache-usb
      uses: actions/cache/restore@v4
      with:
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/libusb
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-libusb1029

    - name: Cache Check ffmpeg 7.1.1
      id: cache-ffmpeg
      uses: actions/cache/restore@v4
      with:
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/ffmpeg
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-ffmpeg711

    - name: Cache Check Hamlib 4.6.4
      id: cache-hamlib
      uses: actions/cache/restore@v4
      with:
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/hamlib
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-hamlib464

    - name: Cache Check fftw 3.3.10
      id: cache-fftw
      uses: actions/cache/restore@v4
      with:
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/fftw
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-fftw3310

    - name: Cache Check Boost 1.88
      id: cache-boost
      uses: actions/cache/restore@v4
      with:
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/boost
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-boost188

    - name: Install minimum required dependencies (Ubuntu)
      if: ${{ steps.which-os.outputs.thisos == 'ubuntu22.04' }}
      run: |
        sudo apt-get update
        sudo apt-get install -y ${{ env.build_package }}
        
    - name: Install dependencies needed to build libs (MacOS)
      if: |
        (steps.cache-usb.outputs.cache-hit != 'true' ||
        steps.cache-ffmpeg.outputs.cache-hit != 'true' ||
        steps.cache-hamlib.outputs.cache-hit != 'true' ||
        steps.cache-fftw.outputs.cache-hit != 'true' ||
        steps.cache-boost.outputs.cache-hit != 'true')

      run: |
        brew install autoconf
        brew install ${{ env.ffmpeg_build }} ${{ env.opengl_package2 }} ${{ env.opengl_package3 }}
        
## libusb
    - name: Install libusb 1.0.29
      if: steps.cache-usb.outputs.cache-hit != 'true'
      id: install-usb
      run: |
        curl --location --output /tmp/v1.0.29.tar.gz https://github.com/libusb/libusb/archive/refs/tags/v1.0.29.tar.gz
        cd /tmp
        tar zxf v1.0.29.tar.gz
        cd libusb-1.0.29
        ./bootstrap.sh
        ./configure --prefix=${GITHUB_WORKSPACE}/local/libusb
        make
        make install

    - name: Save libusb cache
      if: steps.cache-usb.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-libusb1029
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/libusb

## ffmpeg
    - name: Install ffmpeg 7.1.1
      if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
      id: install-ffmpeg
      run: |
        git clone --depth=1 --branch n7.1.1 https://git.ffmpeg.org/ffmpeg.git /tmp/ffmpeg
        mkdir -p /tmp/ffmpeg/build
        cd /tmp/ffmpeg/build
        ../configure --prefix=${GITHUB_WORKSPACE}/local/ffmpeg --disable-shared --enable-static --disable-doc \
          --enable-network --enable-gpl --enable-nonfree --enable-libass --enable-libfreetype --enable-libmp3lame \
          --enable-libvorbis
        make -j install

    - name: Save ffmpeg cache
      if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-ffmpeg711
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/ffmpeg

## hamlib
    - name: Install Hamlib 4.6.4
      if: steps.cache-hamlib.outputs.cache-hit != 'true'
      id: install-hamlib
      run: |
        git clone --depth=1 --branch=4.6.4 https://github.com/Hamlib/Hamlib.git /tmp/hamlib
        cd /tmp/hamlib
        ./bootstrap
        ./configure --prefix=${GITHUB_WORKSPACE}/local/hamlib
        make -j 4
        make install-strip
        sudo ldconfig

    - name: Save Hamlib cache
      if: steps.cache-hamlib.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-hamlib464
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/hamlib

 ## fftw
    - name: Install fftw 3.3.10
      if: (steps.cache-fftw.outputs.cache-hit != 'true' && runner.arch == 'X64')
      id: install-fftw
      run: |
        cd /tmp
        curl --location --output /tmp/fftw-3.3.10.tar.gz https://www.fftw.org/fftw-3.3.10.tar.gz
        tar zxf fftw-3.3.10.tar.gz
        cd fftw-3.3.10
        ./configure --prefix=${GITHUB_WORKSPACE}/local/fftw --enable-threads --enable-shared --enable-sse2 --enable-avx --enable-avx2 --enable-float
        make
        make install

    - name: Install fftw 3.3.10 (arm64)
      if: (steps.cache-fftw.outputs.cache-hit != 'true' && runner.arch == 'ARM64')
      id: install-fftw-arm64
      run: |
        cd /tmp
        curl --location --output /tmp/fftw-3.3.10.tar.gz https://www.fftw.org/fftw-3.3.10.tar.gz
        tar zxf fftw-3.3.10.tar.gz
        cd fftw-3.3.10
        ./configure --prefix=${GITHUB_WORKSPACE}/local/fftw --enable-threads --enable-shared --enable-neon --enable-float
        make
        make install

    - name: Save fftw 3.3.10 cache
      if: steps.cache-fftw.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-fftw3310
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/fftw

## boost
    - name: Install Boost 1.88
      if: steps.cache-boost.outputs.cache-hit != 'true'
      id: install-boost
      run: |
        cd /tmp
        curl --location --output /tmp/boost-1.88.0.tar.gz https://archives.boost.io/release/1.88.0/source/boost_1_88_0.tar.gz
        tar zxf boost-1.88.0.tar.gz
        cd boost_1_88_0
        ./bootstrap.sh --prefix=${GITHUB_WORKSPACE}/local/boost
        ./b2 install

    - name: Save Boost 1.88 cache
      if: steps.cache-boost.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-boost188
        path: /home/runner/work/JS8Call-improved/JS8Call-improved/local/boost

    - name: Install Qt 6.9.3
      uses: jurplel/install-qt-action@v3
      with:
        aqtversion: '==3.1.*'
        version: '6.9.3'
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'
        modules: 'qtmultimedia qtserialport'
        archives: 'qtsvg qtdeclarative qtbase'

    - name: Build JS8Call
      run: |
        mkdir -p ./build && cd ./build
        cmake -DCMAKE_PREFIX_PATH="/usr/local/js8lib" ..
        make
